<section id="cash-desk">
  <div class="flexrow">
    <button id="cash-desk-money-button-pp" class="cash-desk-money-button" title="{{localize 'CASH-DESK.coins.platinum.long'}}">
      {{localize 'CASH-DESK.coins.platinum.short'}}
    </button>
    <button id="cash-desk-money-button-gp" class="cash-desk-money-button" title="{{localize 'CASH-DESK.coins.gold.long'}}">
      {{localize 'CASH-DESK.coins.gold.short'}}
    </button>
    <button id="cash-desk-money-button-ep" class="cash-desk-money-button" title="{{localize 'CASH-DESK.coins.electrum.long'}}">
      {{localize 'CASH-DESK.coins.electrum.short'}}
    </button>
    <button id="cash-desk-money-button-sp" class="cash-desk-money-button" title="{{localize 'CASH-DESK.coins.silver.long'}}">
      {{localize 'CASH-DESK.coins.silver.short'}}
    </button>
    <button id="cash-desk-money-button-cp" class="cash-desk-money-button" title="{{localize 'CASH-DESK.coins.copper.long'}}">
      {{localize 'CASH-DESK.coins.copper.short'}}
    </button>
    <button class="cash-desk-reset">
      <icon class="fas fa-undo"></icon>
    </button>
  </div>
  <div class="flexrow">
    <input id="cash-desk-input-pp" class="cash-desk-input" type="number"></input>
    <input id="cash-desk-input-gp" class="cash-desk-input" type="number"></input>
    <input id="cash-desk-input-ep" class="cash-desk-input" type="number"></input>
    <input id="cash-desk-input-sp" class="cash-desk-input" type="number"></input>
    <input id="cash-desk-input-cp" class="cash-desk-input" type="number"></input>
    <div class="flexcol">
      <button class="cash-desk-gain">
        <icon class="fa fa-plus"></icon>
      </button>
      <button class="cash-desk-pay" >
        <icon class="fa fa-minus"></icon>
      </button>
    </div>
  </div>
</section>