<section id="cash-desk">
  <div class="flexrow">
    <button>{{localize 'CASH-DESK.coins.platinum.short'}}</button>
    <button>{{localize 'CASH-DESK.coins.gold.short'}}</button>
    <button>{{localize 'CASH-DESK.coins.electrum.short'}}</button>
    <button>{{localize 'CASH-DESK.coins.silver.short'}}</button>
    <button>{{localize 'CASH-DESK.coins.copper.short'}}</button>
    <button>
      <icon class="fas fa-undo"></icon>
    </button>
  </div>
  <div class="flexrow">
    <input style="width:15%" type="number"></input>
    <input style="width:15%" type="number"></input>
    <input style="width:15%" type="number"></input>
    <input style="width:15%" type="number"></input>
    <input style="width:15%" type="number"></input>
    <div class="flexcol">
      <button class="cash-desk-gain">
        <icon class="fa fa-plus"></icon>
      </button>
      <button class="cash-desk-pay" >
        <icon class="fa fa-minus"></icon>
      </button>
    </div>
  </div>
</section>